.navbar-nav li.nav-item:hover {
    cursor: pointer;
  }

  .navbar-nav .nav-link {
    position: relative;
  }
  
  .navbar-nav .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007bff; /* Set your desired underline color */
    transition: width 0.3s ease; /* Add a smooth transition effect */
  }
  
  .navbar-nav .nav-link:hover::after {
    width: 100%;
  } 