<!-- login.component.html -->
<div class="container mt-5">
    <div class="d-flex justify-content-center align-items-center">
      <form style="width: 500px;" (keyup.enter)="login()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" [(ngModel)]="username" name="username">
        </div>
        
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" [(ngModel)]="password" name="password">
        </div>
      
        <button type="button" class="btn btn-primary" (click)="login()">Login</button>
      
        <div *ngIf="loginError" class="text-danger mt-2">{{ loginError }}</div>
        <div>
          <br>
        (Use: Username:Aggelos - Password:pass)
          </div>
      </form>

    </div>

  </div>
  
  